<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../navbar.component/navbar.component.css" />

</head>
<body>
    <section class="hero">
  <div class="hero-overlay"></div>
  <div class="hero-content">
    <h1>Welcome to AnishawXcosmetics</h1>
    <p>Unleash your natural beauty with premium, cruelty-free cosmetics.</p>
    <a href="#" class="btn-hero">Shop Now</a>
  </div>
</section>
</body>
</html>
