<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
      <link rel="stylesheet" href="../about.component/about.component.css" />

</head>
<body>
   <section class="about">
        <div class="about-container"> 
            <div class="about-text">
                <h2>About Us</h2>
                <p>
                    At <strong>AnishawXcosmetics</strong>, we believe that beauty begins with confidence. 
                    Our brand is dedicated to creating high-quality, skin-friendly, and cruelty-free
                    cosmetic products that bring out your natural glow.
                </p>
                <p>
                    From luxurious lip shades to flawless skin essentials, every product is crafted
                    to give you a premium beauty experience. Our mission is simple — to help you
                    feel bold, beautiful, and unstoppable.
                </p>
            </div>
            </div>
    </section>

</body>
</html>