<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AnishawXcosmetics</title>
    <link rel="stylesheet" href="../navbar.component/navbar.component.css" />
</head>
<body>
    <nav class="navbar">
        <div class="logo">AnishawXcosmetics</div>
        <ul class="nav-links">
            <li><a href="../hero.component/hero.component.html">Home</a></li>
            <li><a href="../about.component/about.component.html">About Us</a></li>
            <li><a href="../services.component/services.component.html">Services</a></li>
            <li style="margin-right: 60px;"><a href="../contct.component/contct.component.html">Contact Us</a></li>
        </ul>
    </nav>
</body>
</html>